body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: AltaRegular;
  src: local('AltaRegular'),
    url('./fonts/Alta/Alta_regular.otf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: AltaLight;
  src: local('AltaLight'),
    url('./fonts/Alta/Alta_light.otf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: AltaCaption;
  src: local('AltaCaption'),
    url('./fonts/Alta/Alta_caption.otf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaBlack;
  src: local('LexendMega-Black.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-Black.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaBold;
  src: local('LexendMega-Bold.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-Bold.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaExtraBold;
  src: local('LexendMega-ExtraBold.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-ExtraBold.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaExtraLight;
  src: local('LexendMega-ExtraLight.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-ExtraLight.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaLight;
  src: local('LexendMega-Light.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-Light.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaMedium;
  src: local('LexendMega-Medium.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-Medium.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaRegular;
  src: local('LexendMega-Regular.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-Regular.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaSemiBold;
  src: local('LexendMega-SemiBold.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-SemiBold.ttf') format('truetype');
  font-weight: auto;
}

@font-face {
  font-family: LexendMegaThin;
  src: local('LexendMega-Thin.ttf'),
    url('./fonts/Lexend_Mega/static/LexendMega-Thin.ttf') format('truetype');
  font-weight: auto;
}

